body {
    .header {     
        
        background-color: $blueElectrik;
        color: $white;
        .libelleLogo {
            display: flex;
            justify-content: space-between;
            h1 {
                font-family: "Sirin Stencil";
                text-transform: uppercase;
                font-size: 4em;
                width :70%;
                justify-content: center;
            }
            img {
                width :100%;
            }
            a {
                width :30%;
            }
        }
        nav {
            background-color: $black;
            menu {
                width: 100%;
                display: flex;
                list-style: none;
                justify-content: space-evenly;
                li {
                    font-weight: bold;
                    a {
                        color: $white;
                    }
                    &:hover {
                        background-color: #950000;
                        color: white;
                    }
                }
            }
        }
        
    }
}