.header {
    background-color: $blueElectrik;
    color: $white;   
    .libelleLogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
        h1 {
            font-family: "Sirin Stencil";
            text-transform: uppercase;
            font-size: 5rem;
            width :100%;
            text-align: center;
            color: $black;
        }    
        a {
            width :30%;
            img {
                width :100%;
                height: 100%;
            }
        }
        .search-form {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
            .search-input {
                padding: 8px;
                border-radius: 4px;
                font-size: 1.5rem;
                height: 100%;
            }
            .search-button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80%;
                align-self: center;
                margin-left: 10px;
                padding: 0.2em 0.5em 0.2em 0.5em;
                background-color: $black;
                color: $white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 2.5rem;
                &:hover {
                    background-color: $lightGrey;
                }
            }
        }
        #tools-accessibility {
            #accessibility-tools {
                position: fixed;
                top: 60px;
                left: 10px;
                background-color: $lightGrey;
                padding: 10px;
                border-radius: 5px;
                display: none;
            }    
            #tools {
                position: fixed;
                top: 10px;
                left: 10px;
                padding: 10px;
                background-color: $lightGrey;
                border: none;
                border-radius: 5px;
            }
        }
    }
 
    #icons {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        padding: 0.5em;
        color: $black;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #icons:before {
        content: attr(data-content);
    }
    
    nav {
        menu {
            display: none;
            width: 100%;
            background-color: $black;
            text-align: center;
            list-style: none;
            li {
                font-weight: bold;
                padding: 0.3em;
                a {
                    color: $white;
                    text-decoration: none;
                }
                &:hover {
                    color: $black;
                    background-color: $yellow;
                }
            }
        }
    }
    
    nav.on menu {
        display: block;
    }  
    
    /* *****************************************************************
    DESKTOP
    ***************************************************************** */

    @media screen and (min-width: $min-width) {
        #icons {
            display: none;
        }
        
        #icons:before {
            display: none;
        }

        .libelleLogo {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            padding-bottom: 0;
            h1 {
                width: 60%;
                font-size: 10rem;
            }
            a {
                padding: 0.5em;
                width :15%;
                img {
                    width :100%;
                    height: 100%;
                }
            }
            .bloc {
                display: flex;
                flex-direction: column;
                align-items: end;
                width: 20%;
                height: 100%;
                padding-bottom: 2em;
                #tools-accessibility {
                    padding-bottom: 1em;
                    display: flex;
                    flex-direction: row;
                    #accessibility-tools {
                        position: static;
                    }   
                    #tools {
                        position: static;
                        margin-right: 2px;
                    }
                }
                .search-form {
                    display: flex;
                    justify-content: right;
                }
            }
        }

        nav {
            menu {
                flex-direction: row;
                justify-content: space-evenly;
                display: flex;
            }
        }
    }
}