{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>

    {{ include('artists/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin') }}">back to list</a>
{% endblock %}