{% extends 'base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block body %}
    <main class="forms_bis">
        <h2>Ajouter un pays</h2>

        {{ include('country/_form.html.twig') }}

        <a href="{{ path('index') }}">Retour au profil</a>
    </main>
{% endblock %}
