{% extends "base.html.twig" %}

{% block body %}
    <main id="container" class="others">
    <a href="https://www.nostalgie.fr/actus/bob-marley-retour-sur-ses-plus-grands-concerts-70237936">Bob marley</a>
    <a href="https://www.nrj.fr/artistes/eminem/actus/eminem-tout-ce-qu-il-faut-savoir-sur-son-film-8-mile-71296873">Eminem</a>
    <a href="https://www.solidays.org/programme/alpha-blondy/">Alpha Blondy</a>
    <a href="https://reggae.fr/">Naaman</a>
    <a href="https://www.tahoedailytribune.com/entertainment/italian-artist-alborosie-headlines-night-of-reggae/">Alborosie</a>
    <a href="https://www.lhebdoduvendredi.com">Pierpoljak</a>
    <a href="https://www.bandsintown.com">Ilements</a>
    <a href="https://www.ladepeche.fr/article/2018/12/07/2920622-ice-cube-cappella-sortie-nouvel-album.html">Ice Cube</a>
    <a href="https://information.tv5monde.com">Tiken Jah Fakoly</a>
    <a href="https://www.francetvinfo.fr/culture/musique/rap/le-biopic-sur-tupac-shakur-a-nouveau-sur-les-rails_3356537.html">Tupac</a>
    <a href="https://www.musiqxxl.fr/bob-marley-exodus/">Exodus</a>
    <a href="https://www.ebay.fr/itm/174460223066">Survival</a>
    <a href="https://www.forum-besancon.fr/music/0602547276285-uprising-bob-marley/">Uprising</a>
    <a href="https://www.melodisque.com/produit/bob-marley-the-wailers-rastaman-vibration-cd/">Rastaman Vibration</a>
    <a href="https://www.amazon.fr/Legend-ENREGISTREMENT-ORIGINAL-REMASTERIS%C3%A9/dp/B0000669JL">Legend</a>
    <a href="https://www.amazon.fr/Burnin-Bob-Marley-Wailers/dp/B00005KB9R">Burnin'</a>
    <a href="https://www.lagrosseradio.com/webzine-reggae/p66627-harrison-stafford-one-dance-tour/">Harrisson Stafford</a>
    <a href="https://www.easports.com/fr/fifa/ultimate-team/news/2016/damian-marley-interview">Damian marley</a>
    <a href="https://reggae.fr/lire-article/4417_Naaman---Temple-Road.html">Temple Road</a>
    <a href="https://www.deezer.com/fr/artist/275373">2 Times Revolution</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    </main>
{% endblock %}