{% extends "base.html.twig" %}

{% block body %}
    <main id="container" class="list_albums">
    <a href="https://podcasts.nova.fr">Bob marley</a>
    <a href="https://gamebanana.com">Eminem</a>
    <a href="https://www.smule.com">Alpha Blondy</a>
    <a href="https://reggae.fr/">Naaman</a>
    <a href="https://reggaevibrationbelem.blogspot.com">Alborosie</a>
    <a href="https://www.lhebdoduvendredi.com">Pierpoljak</a>
    <a href="https://www.bandsintown.com">Ilements</a>
    <a href="https://www.thedailybeast.com">Ice Cube</a>
    <a href="https://information.tv5monde.com">Tiken Jah Fakoly</a>
    <a href="https://www.elle.fr/">Tupac</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    <a href="">Bob marley</a>
    </main>
{% endblock %}