{% extends "base.html.twig" %}

{% block body %}
    <main class="index">
        <h2>Bienvenue sur le site Zik Addict</h2>
        <p>
            Albums les plus écoutés sur <a href="https://www.deezer.com/fr/">Deezer</a> :
        </p>

        <ul id="top-albums-list" data-api-albums-url="{{ path('test') }}" data-api-album-url="{{ path('test2', {idAlbum: 1}) }}"></ul>
    </main>
{% endblock %}