{% extends "base.html.twig" %}

{% block title %}Politique{% endblock %}

{% block body %}
    <main class="others" id="container">
        <h2>Politique de confidentialité</h2>
        <p>
            Lors de votre inscription sur ZikAddict, nous collectons uniquement votre adresse e-mail. Cette information est nécessaire pour vous envoyer un e-mail d'activation de compte et vous permettre d'accéder à toutes les fonctionnalités de notre site.
        </p>
        <p>
            Nous conservons votre adresse e-mail aussi longtemps que votre compte ZikAddict est actif. Vous pouvez choisir de supprimer votre compte à tout moment en utilisant la fonction de suppression de compte disponible dans votre profil utilisateur. Alternativement, si vous préférez, vous pouvez nous contacter à tout moment à l'adresse e-mail suivante : contact@zikaddict.com. 
        </p>
    </main>
{% endblock %}