{% extends "base.html.twig" %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <main class="others" id="container">
        <h2>Présentation du site</h2>
        <p>
            Ce site est dédié à la compilation d'albums de musique quelque soit leur format.
        </p>
        <p>
            Avec ce site, vous avez la possibilité :
        </p>
        <ul>
            <li class="list">d’ajouter des musiques  à votre collection,</li>
            <li class="list">de créer une liste des albums musicaux que vous  souhaitez acquérir.</li>
        </ul>
        <p>
            Toutes les données recueillies pourront être exportées en format excel et word.
        </p>
    </main>
{% endblock %}