{% extends "base.html.twig" %}

{% block body %}
    <main id="container" class="others">
        <h2>
            Présentation du site
        </h2>
        <p>
            Ce site est dédié à la compilation d'albums de musique quelque soit leur format.
        </p>
        <p>
            Avec ce site, vous avez la possibilité :
        </p>
        <ul>
            <li>d’ajouter des musiques  à votre collection,</li>
            <li>de créer une liste des albums musicaux que vous  souhaitez acquérir.</li>
        </ul>
        <p>
            Toutes les données recueillies pourront être exportées en format excel et word.
        </p>
    </main>
{% endblock %}