{% extends "base.html.twig" %}

{% block body %}
    <main id="container" class="list_albums">
        <h2>
            Présentation du site
        </h2>
        Ce site est dédié à la compilation d'albums de musique quelque soit leur format.
        Avec ce site, vous avez la possibilité :
            - d’ajouter des musiques  à votre collection,
            - de créer une liste des albums musicaux que vous  souhaitez acquérir.

        Toutes les données recueillies pourront être exportées en format excel et word.
    </main>
{% endblock %}