.admin {
    ul {
        .menu-li {
            width: 80%;
            border: 1px solid black;
            text-align: center;
            &:hover {
                background-color: red;
                cursor: pointer;
            }
        }
        
    }
    .hidden {
        display: none;
        .action {
            display:flex;
        }
    }
}