.list_artists {
    h2 {
        color: $red;
        text-align: center;
    }
    h3 {
        color: $emeraldGreen;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        li {
            border-radius: 8px;
            box-sizing: border-box;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 30%;
            min-height: 150px;
            max-width: 270px;
            margin: 0.5em;
            transition: background-color 0.3s ease; // Transition fluide de la couleur de fond
            &:hover {
                background-color: #ddd; // Couleur de fond au survol
            }
            article {
                padding: 1em;
                color: white;
                a {
                    color: orange;
                }
            }
            &::before {
                content: ' ';
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color:rgba(0, 0, 0, 0.5);
            }
        }
    }
}