.list_artists {
    background-color: $lightGrey;
    h2 {
        color: $red;
        text-align: center;
    }
    h3 {
        color: $emeraldGreen;
    }
    .dead {
        background-color: grey;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content : space-evenly;
        width: 100%;     
        li {
            border: 1px solid $darkBlue;
            width: 30%;
            padding : 1em;
            background-color: $lightGrey;
            margin: 1em;
            transition: background-color 0.3s ease; // Transition fluide de la couleur de fond
            &:hover {
                background-color: #ddd; // Couleur de fond au survol
            }
            article {
                a {
                    color: $orange;
                }
            }
        }
    }
}