.cards {
    background-color: $lightGrey;
    .text {
        text-align: center;
        padding: 1em;
    }
    h3 {
        color: $emeraldGreen;
        width: 100%;
        padding: 0;
    }
    /**************** MODAL **********************/
    .modal-container {
        visibility: hidden;
        transition: visibility 0.4s;
        position:fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        .overlay {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background : #333333d3;
            transition: opacity 0.4s 0.2s ease-out;
        }
        .modal-content {
            opacity: 0;
            width: 95%;
            max-width: 500px;
            min-width: 300px;
            padding: 30px;
            background: #fff;
            border-radius : 5px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.4s ease-out;
            .close-modal {
                padding: 8px 10px;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                background: #ff365e;
                color: black;
            }
            a {
                .pictures {
                    width: 10%;
                    height: auto;
                }
            }
        }
    }
    .modal-container.active .modal-content {
        opacity: 1;
        transition: opacity 0.4s 0.2s ease-out;
    }
    .modal-container.active .overlay {
        opacity: 1;
        transition: opacity 0.4s ease-out;
    }
    .modal-container.active {
        visibility: visible;
        transition: visibility 0s;
    }
    /***********************************************/
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        li {
            
            border-radius: 8px;
            box-sizing: border-box;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 45%;
            min-height: 150px;
            // max-width: 45%;
            background-color: $lightGrey;
            margin: 0.5em;
            transition: background-color 0.3s ease; // Transition fluide de la couleur de fond
            &:hover {
                background-color: #ddd; // Couleur de fond au survol
            }
            article {
                position: relative;
                min-height: 200px;
                background-color:rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                padding: 0.5em;
                // padding-top: 2em;
                padding-top: 0;
                color: white;
                .image_collection {
                    width: 15%;
                    padding-bottom: 1em;
                    position: absolute;
                    top: 0.5em;
                    right: 0.5em;
                }
                .image_search {
                    width: 15%;
                }
                .formats {
                    display: none;
                }
                .link {
                    position: absolute;
                    color: orange;
                    bottom: 0.5em;
                }
            }
            // &::before {
            //     content: ' ';
            //     display: block;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-color:rgba(0, 0, 0, 0.5);
            //     // margin-top: -20%;
            // }
        }
    }
    /* *****************************************************************
    DESKTOP
    ***************************************************************** */

    @media screen and (min-width: $min-width) {
        background-color: $lightGrey;
        h2 {
            color: $red;
            text-align: center;
        }
        h3 {
            color: $emeraldGreen;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            li {
                border-radius: 8px;
                box-sizing: border-box;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                width: 22%;
                // max-width: 25%;
                // min-height: 150px;
                // max-width: 270px;
                background-color: $lightGrey;
                margin: 0.5em;
                transition: background-color 0.3s ease; // Transition fluide de la couleur de fond
                // article {
                //     padding-top: 3em;
                // }
            }
        }
    }
}