.forms_bis {
    text-align: center;
    padding: 1em;
    form {
        div {
            div {
                display: flex;
                justify-content: center;
                margin-bottom: 2em;
                label {
                    width: 200px;
                    text-align: left;
                    font-weight: bold;
                }
                input {
                    padding: 5px;
                    border-radius: 8px;
                    border: 1px solid $black;
                }
                select {
                    width: 250px;
                    padding: 5px;
                    border-radius: 8px;
                    border: 1px solid $black;
                }
            }
            button {
                border-radius: 20px;
                padding-left: 1em;
                padding-right: 1em;
                background-color: $white;
                margin-bottom: 2em;
                border: 1px solid $black;
            }
        }
        .btn {
            border-radius: 20px;
            padding-left: 1em;
            padding-right: 1em;
            background-color: $white;
            margin-bottom: 2em;
            border: 1px solid $black;
        }
    }
    /* *****************************************************************
    DESKTOP
    ***************************************************************** */

    @media screen and (min-width: $min-width) {
        form {
            div {
                div {
                    input {
                        padding: 5px;
                        width: 450px;
                        border-radius: 8px;
                        border: 1px solid $black;
                    }
                    label {
                        width: 250px;
                        text-align: left;
                        margin-right: 200px;
                        font-weight: bold;
                    }
                    select {
                        width: 450px;
                        padding: 5px;
                        border-radius: 8px;
                        border: 1px solid $black;
                    }
                }
                button {
                    border-radius: 20px;
                    padding-left: 5em;
                    padding-right: 5em;
                    background-color: $white;
                    margin-bottom: 2em;
                    border: 1px solid $black;
                }
            }
        }
    }
    
}