{% extends "base.html.twig" %}

{% block title %}
    Albums
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="container" class="list_albums">
        <h2>
            Liste des albums
        </h2>
        <ul>
            {% for album in albums %}
                <li>
                    <article class=$class>
                        <h3>{{album.getTitle()}}</h3>
                        <p><a href="{{ path('album', {idAlbum: album.id}) }}">Plus</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}