{% extends "base.html.twig" %}

{% block main %}
    <main id="container" class="list_songs">
        <h2>
            Liste des chansons de  l'album {{album.getTitle()}}
        </h2>
        <ul>
            {% for song in songs %}
                <li>
                    <article class=$class>
                        <h3>{{song.getTitle()}}</h3>
                        <p><a href="{{ path('song', {idSong: song.id}) }}">Plus</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}