{% extends "base.html.twig" %}

{% block main %}
    <section class="album">
        <h1>
            Liste des chansons de  l'album {{album.getTitle()}}
        </h1>
        {% for song in songs %}
            <article class=$class>
                <h2>{{song.getTitle()}}</h2>
                <p><a href="{{ path('song', {idSong: song.id}) }}">Plus</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}