{% extends 'base.html.twig' %}

{% block title %}Modifier l'album{% endblock %}

{% block body %}
    <main class="forms_bis" id="container">
        <h2>Modifier l'album</h2>

        {{ include('albums/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('admin') }}">Retour au profil</a>
    </main>
{% endblock %}