{% extends 'base.html.twig' %}

{% block title %}Nouvel album{% endblock %}

{% block body %}
    <main class="forms_bis" id="container">
        <h2>Ajouter un album</h2>

        {{ include('albums/_form.html.twig') }}

        <a href="{{ path('profile', {'idUser': app.request.query.get('idUser')}) }}">Retour au profil</a>
    </main>
{% endblock %}
