{% extends 'base.html.twig' %}

{% block title %}Nouvel album{% endblock %}

{% block body %}
    <main class="forms_bis">
        <h2>Ajouter un album</h2>

        {{ include('albums/_form.html.twig') }}

        <a href="{{ path('index') }}">Retour au profil</a>
    </main>
{% endblock %}
