{% extends 'base.html.twig' %}

{% block title %}Edit Format{% endblock %}

{% block body %}
    <h1>Edit Format</h1>

    {{ include('format/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin') }}">back to list</a>
{% endblock %}