{% extends 'base.html.twig' %}

{% block title %}Nouveau format{% endblock %}

{% block body %}
    <main class="forms_bis">
        <h2>Ajouter un format</h2>

        {{ include('format/_form.html.twig') }}

        <a href="{{ path('index') }}">Retour au profil</a>
    </main>
{% endblock %}
