{% extends 'base.html.twig' %}

{% block title %}Modifier la chanson{% endblock %}

{% block body %}
    <main class="forms_bis" id="container">
        <h2>Modifier la chanson</h2>

        {{ include('songs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('admin') }}">Retour au profil</a>
    </main>
{% endblock %}