{% extends 'base.html.twig' %}

{% block title %}Edit Song{% endblock %}

{% block body %}
    <h1>Edit Song</h1>

    {{ include('songs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin') }}">back to list</a>
{% endblock %}