{% extends "base.html.twig" %}

{% block main %}
    <main id="container" class="list_artists">
        <h2>
            Liste des artistes de la chanson {{song.getTitle()}}
        </h2>
        <ul>
            {% for artist in artists %}
                <li>
                    <article class=$class>
                        <h3>{{artist.getName()}}</h3>
                        <p><a href="{{ path('artist', {idArtist: artist.id}) }}">Plus</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}