{% extends "base.html.twig" %}

{% block main %}
    <main id="container" class="list_songs">
        <h2>
            Liste des chansons
        </h2>
        <ul>
            {% for song in songs %}
                <li>
                    <article class=$class>
                        <h3>{{song.getTitle()}}</h3>
                        <p><a href="index.php?route=song&idSong={{song.getId()}}">Plus</a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}