{% extends "base.html.twig" %}

{% block main %}
    <section class="song">
        <h1>
            Liste des artistes de la chanson {{song.getTitle()}}
        </h1>
        {% for artist in artists %}
            <article class=$class>
                <h2>{{artist.getName()}}</h2>
                <p><a href="{{ path('artist', {idArtist: artist.id}) }}">Plus</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}