{% extends "base.html.twig" %}

{% block main %}
    <section class="list_songss">
        <h1>
            Liste des chansons
        </h1>
        {% for song in songs %}
            <article class=$class>
                    <h2>{{song.getTitle()}}</h2>
                    <p><a href="index.php?route=song&idSong={{song.getId()}}">Plus</a>
                </article>
        {% endfor %}
    </section>
{% endblock %}